/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    color: #023e73;
}

code {
  color: #d9d9d9;
}

.btn-primary {
    background-color: #023e73;
    color: #D9D9D9;
}

.btn-outline-primary {
    color: #023e73;
    border-color: #023e73;
}

html {
    font-family: 'IBM Plex Sans', sans-serif;
}

#balanse {
    max-width: 100%; 
    width: 100%; 
    max-height: 200px
}