.vs/
Webex2/ClientApp/node_modules/
Webex2/bin/
Webex2/obj/Debug/netcoreapp3.1/Razor/
Webex2/obj/Debug/netcoreapp3.1/Webex2.MvcApplicationPartsAssemblyInfo.cache
Webex2/obj/Debug/netcoreapp3.1/Webex2.MvcApplicationPartsAssemblyInfo.cs
Webex2/obj/Debug/netcoreapp3.1/Webex2.RazorCoreGenerate.cache
Webex2/obj/Debug/netcoreapp3.1/Webex2.RazorTargetAssemblyInfo.cache
Webex2/obj/Debug/netcoreapp3.1/Webex2.RazorTargetAssemblyInfo.cs
Webex2/obj/Debug/netcoreapp3.1/Webex2.TagHelpers.input.cache
Webex2/obj/Debug/netcoreapp3.1/Webex2.TagHelpers.output.cache
Webex2/obj/Debug/netcoreapp3.1/Webex2.Views.dll
Webex2/obj/Debug/netcoreapp3.1/Webex2.Views.pdb
Webex2/obj/Debug/netcoreapp3.1/Webex2.csproj.BuildWithSkipAnalyzers
Webex2/obj/Debug/netcoreapp3.1/Webex2.csproj.CopyComplete
Webex2/obj/Debug/netcoreapp3.1/Webex2.csproj.CoreCompileInputs.cache
Webex2/obj/Debug/netcoreapp3.1/Webex2.csproj.FileListAbsolute.txt
Webex2/obj/Debug/netcoreapp3.1/Webex2.dll
Webex2/obj/Debug/netcoreapp3.1/Webex2.genruntimeconfig.cache
Webex2/obj/Debug/netcoreapp3.1/Webex2.pdb
Webex2/obj/Debug/netcoreapp3.1/apphost.exe
Webex2/obj/Debug/netcoreapp3.1/staticwebassets/
